{{#partial "content"}}
    {{#if animals}}
        <div class="container">
            <div class="row">
                <h3>Available Animals</h3>
                <div class="container">
                    <table class="table table-dark">
                        <tbody>
                        {{#each animals}}
                            <tr>
                                <td>Id: <span></span>{{id}}</td>
                                <td> Animal Name: <span></span>{{name}}</td>

                            </tr>

                        {{/each}}
                        </tbody>
                    </table>


                </div>
            </div>

        </div>









    {{/if}}






{{/partial}}






{{>layout.hbs}}